/* import Josefin Font from google/fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #000;
}

/* header start here */

.header {
  background-image: url(../src/assets/img/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}

.container {
  width: 800px;

  margin: 0 auto;
  /* background-color: rgb(67, 67, 53); */
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #ffffff;
}

/*  form section start here */

.form-box {
  display: flex;
  align-items: center;
  background: #25273d;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px 12px;
  transform: translateY(-110px);
}

.form-check {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check input {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background-color: #eee;
}

.form-check input:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: blue;
}

.form-text-box {
  width: 100%;
}

.form-text-box input {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 0 20px 15px;
  background-color: transparent;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
}

/* todolist start here */

.todolist {
  background: #25273d;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px 12px;
  transform: translateY(-80px);
}

.list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.li-box {
  display: flex;
  align-items: center;
}

.li-check {
  width: 40px;
  height: 40px;
}

.list-item {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #c8cbe7;
  margin-left: 10px;
}

.trashBtn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

/* details start here */

.details-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: #5b5e7e;
}

.status-box,
.items-left-box,
.clear-box {
  cursor: pointer;
}

.status-box span {
  margin-right: 15px;
}

.status-box span:last-of-type {
  margin-right: 0;
}

.active {
  transition: 0.2s;
  color: #fff;
}

.completed {
  opacity: 0.35;
}
